.dataContainer{
  display:inline-block;
  max-width:1024px;
  margin:auto;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}
.imgBg{
  display: inline-block;
  width:200px;
  height:200px;
  border-radius: 25px;
  background-color: beige;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.btnGroup img{
  max-width:100px;
  width:100%;
}
.frog1{
  background-image: url('../src/asset/img/pepefrog.jpg');
}
.frog2{
  background-image: url('../src/asset/img/pepefrog2.jpg');
}
.frog_error{
  background-image: url('../src/asset/img/pepefrog_error.jpg');
}
.frog3{
  background-image: url('../src/asset/img/pepeFrog_finish.png');
}